第ー回演習の模範解答です．

タスクをやってから答えを見てください．

## **TASK 1-1**: 
値が [1, 10, 100, 1000]、インデックスが ['A', 'B', 'C', 'D']というシリーズ *my_obj* を作成せよ。

(1) 作成したオブジェクト全体を表示せよ

(2) 作成したオブジェクトの**値**だけを表示せよ

(3) 作成したオブジェクトの**インデックス**だけを表示せよ

(4) インデックス 'B' に対応するセルに10000という値を代入せよ

(5) インデックス ['B', 'D'] に対応する値を表示せよ

In [8]:
#1
my_obj = Series([1,10,100,1000], index=['A','B','C','D'])
my_obj

A       1
B      10
C     100
D    1000
dtype: int64

In [9]:
#2
my_obj.values

array([   1,   10,  100, 1000])

In [10]:
#3
my_obj.index

Index(['A', 'B', 'C', 'D'], dtype='object')

In [11]:
#4
my_obj['B']=10000

In [12]:
#5
my_obj[['B','D']] #note that my_obj['B','D'] results in an error

B    10000
D     1000
dtype: int64

## **TASK 1-2**: 
値が [1, 2, 3, 4, 5]、インデックスが [1, 2, 3, 4, 5]というシリーズ *p* を作成せよ。

(1) sin(p)を表示せよ

(2) sin(p)の0より小さい値だけを表示せよ

In [18]:
p = Series([1,2,3,4,5], index=[1,2,3,4,5])
#p = Series(range(1,6), np.arange(1,6)) #range or np.arange can be used with longer consecutive data
p

1    1
2    2
3    3
4    4
5    5
dtype: int64

In [19]:
#1
np.sin(p)

1    0.841471
2    0.909297
3    0.141120
4   -0.756802
5   -0.958924
dtype: float64

In [20]:
#2
np.sin(p)[np.sin(p)<0]
#a = np.sin(p) #better first assign to a variable
#a[a<0]

4   -0.756802
5   -0.958924
dtype: float64

## **TASK  1-3**: 
(1) ディクショナリ c = {'Tokyo': 100000, 'Hiroshima': 50000, 'Yokohama': 60000} を使って、シリーズ *c1* を作成せよ。

(2) *c1* のデータとインデックス['Tokyo', 'Hiroshima', 'Fukuoka']を使って、新しいシリーズ *c2* を作成せよ。

(3) c3 = c1+c2 を作成せよ。

(4) 作成したシリーズ c1、c2 と c3 を表示して、中身を確認せよ。

(5) シリーズ c1 には、 'Yokohama'というインデックスが存在するかどうかを調べよ。次には、 同じことをc2に対しても調べよ。

(6) c3 には欠損値があるかどうかを調べよ。

(7) c3 のインデックスを ['B1', 'A1', 'Z1', 'F1']に書き換えよ。

In [34]:
#1
c = {'Tokyo': 100000, 'Hiroshima': 50000, 'Yokohama': 60000} 
c1 = Series(c)
c1

Hiroshima     50000
Tokyo        100000
Yokohama      60000
dtype: int64

In [35]:
#2
c2 = Series(c, index = ['Tokyo', 'Hiroshima', 'Fukuoka'])
c2

Tokyo        100000.0
Hiroshima     50000.0
Fukuoka           NaN
dtype: float64

In [36]:
#3
c3 = c1 + c2

In [37]:
#4
c3

Fukuoka           NaN
Hiroshima    100000.0
Tokyo        200000.0
Yokohama          NaN
dtype: float64

In [38]:
#5
'Yokohama' in c1, 'Yokohama' in c2

(True, False)

In [39]:
#6
c3.isnull()
#pd.isnull(c3)

Fukuoka       True
Hiroshima    False
Tokyo        False
Yokohama      True
dtype: bool

In [40]:
#7
c3.index = ['B1','A1','Z1','F1']
c3

B1         NaN
A1    100000.0
Z1    200000.0
F1         NaN
dtype: float64

## **TASK  1-4**: 
(1) 次のコマンドを使って、データフレームを作成せよ。

df = pd.DataFrame(randn(5,4), index = list('ABCDE'), columns = list('WXYZ'))

(2) 列 'W'を表示せよ。

(3) 列'X'と列'Z'の和である、新しい列'New'をdf内に作成せよ。

(4) インデックスが'C'という行のデータを取得して、表示せよ。

(5) 列 'Y'を削除せよ。

(6) dfに新しい列 'XPos'を追加せよ。ただし、'XPos'の値は以下の通り設定せよ：対応する列 'X'の値が正であればTRUEを、負であればFALSEに設定せよ。

In [61]:
#1
df = pd.DataFrame(randn(5,4), index = list('ABCDE'), columns = list('WXYZ')) #(1)
df

          W         X         Y         Z
A  0.855100  0.657531  0.521815 -1.129965
B -0.190287 -0.084168  0.535094  0.683826
C -1.185187  0.777027  1.584026 -0.188183
D  1.645315  0.158212 -0.229024 -1.262726
E  0.757857  0.313394  0.077329  0.200634

In [62]:
#2
df['W']

A    0.855100
B   -0.190287
C   -1.185187
D    1.645315
E    0.757857
Name: W, dtype: float64

In [63]:
#3
df['New'] = df['X'] + df['Z']
df

          W         X         Y         Z       New
A  0.855100  0.657531  0.521815 -1.129965 -0.472433
B -0.190287 -0.084168  0.535094  0.683826  0.599657
C -1.185187  0.777027  1.584026 -0.188183  0.588844
D  1.645315  0.158212 -0.229024 -1.262726 -1.104514
E  0.757857  0.313394  0.077329  0.200634  0.514028

In [64]:
#4
df.loc['C']

W     -1.185187
X      0.777027
Y      1.584026
Z     -0.188183
New    0.588844
Name: C, dtype: float64

In [65]:
#5
del df['Y']

In [66]:
#6
df['XPos'] = df['X'] > 0
df

          W         X         Z       New   XPos
A  0.855100  0.657531 -1.129965 -0.472433   True
B -0.190287 -0.084168  0.683826  0.599657  False
C -1.185187  0.777027 -0.188183  0.588844   True
D  1.645315  0.158212 -1.262726 -1.104514   True
E  0.757857  0.313394  0.200634  0.514028   True

## **TASK  1-5**: 

(1) 次のコマンドを使って、データフレームを作成せよ。

df = pd.DataFrame(randn(5,4), index = list('ABCDE'), columns = list('WXYZ'))

(2) df からインデックス 'C'の行を削除せよ。

(3) df からインデックス 'Y' と 'Z'の列を削除せよ（一行のコードを使用する）。

In [79]:
#1
df = pd.DataFrame(randn(5,4), index = list('ABCDE'), columns = list('WXYZ'))
df

          W         X         Y         Z
A  0.493696  0.429462  0.767720  1.959772
B -0.808769  1.890445  0.526678 -1.035155
C  0.425386  0.476855 -1.785337 -0.393410
D -0.697133  0.174179 -0.285496  0.823548
E  1.015875 -0.071592 -1.622033 -0.384460

In [80]:
#2
df.drop('C',inplace=True)
df

          W         X         Y         Z
A  0.493696  0.429462  0.767720  1.959772
B -0.808769  1.890445  0.526678 -1.035155
D -0.697133  0.174179 -0.285496  0.823548
E  1.015875 -0.071592 -1.622033 -0.384460

In [81]:
#3
df.drop(['Y', 'Z'], axis=1, inplace=True)
df

          W         X
A  0.493696  0.429462
B -0.808769  1.890445
D -0.697133  0.174179
E  1.015875 -0.071592

## **TASK  1-6**: 

(1) 次のコマンドを使って、データフレームを作成せよ。

df = pd.DataFrame(randn(5,4), index = list('ABCDE'), columns = list('WXYZ'))

(2) 列'Y'の値が正であるdfの行を表示せよ。

(3) dfの全ての正の要素に 1 を代入せよ。

In [103]:
#1
df = pd.DataFrame(randn(5,4), index = list('ABCDE'), columns = list('WXYZ'))
df

          W         X         Y         Z
A -1.139269  0.252406 -0.162413 -0.327048
B  2.099168 -0.534409 -0.687058  0.858954
C -1.157197  0.241563 -0.630797 -0.057500
D  0.149252  1.111249 -1.397933 -0.467052
E  0.187457  0.602221  0.358396  0.066410

In [104]:
#2
df[df['Y'] > 0]

          W         X         Y        Z
E  0.187457  0.602221  0.358396  0.06641

In [105]:
#3
df[df > 0] = 1
df

          W         X         Y         Z
A -1.139269  1.000000 -0.162413 -0.327048
B  1.000000 -0.534409 -0.687058  1.000000
C -1.157197  1.000000 -0.630797 -0.057500
D  1.000000  1.000000 -1.397933 -0.467052
E  1.000000  1.000000  1.000000  1.000000

## **TASK  1-7**: 

(1) 次のコマンドを使って、データフレームを作成せよ。

df = pd.DataFrame(randn(6,5), list('ABCDEF'), columns = list('VWXYZ')).

(2) 行'C'の2番目と3番目の列だけを表示せよ。

(3) 列'W'と'Y'の間と、行'B'と'D'の間にある df の部分を表示せよ。

(4) 行 'A'の値が負である要素に対応する、行 'B'と'E'の部分を表示せよ。(**)

In [112]:
#1
df = pd.DataFrame(randn(6,5), list('ABCDEF'), columns = list('VWXYZ')) #(1)
df

          V         W         X         Y         Z
A -0.117300 -0.663917 -0.413270 -1.691778 -0.288521
B -0.726356  0.426531  1.425231  1.705876 -0.119689
C  1.041822  0.430499 -0.531801  0.201142 -0.748445
D -0.090036  0.063196 -0.996771 -1.063017 -0.150870
E -1.009991  0.149397 -0.467640 -0.420828  0.037743
F  1.526033  0.480862 -2.251859  0.028844  0.959570

In [113]:
#2
df.loc['C',['W','X']]

W    0.430499
X   -0.531801
Name: C, dtype: float64

In [114]:
#3
df.loc['B':'D', 'W':'Y']

          W         X         Y
B  0.426531  1.425231  1.705876
C  0.430499 -0.531801  0.201142
D  0.063196 -0.996771 -1.063017

In [115]:
#4 発展課題　(**)
df.loc[['B','E'],df.loc['A',:] < 0] # the bool condition selects the columns, that's why it is on the right

          V         W         X         Y         Z
B -0.726356  0.426531  1.425231  1.705876 -0.119689
E -1.009991  0.149397 -0.467640 -0.420828  0.037743

## **TASK  1-8**: 

(1) 5行 $\times$ 6列のデータフレームを作成せよ。

(2) 最初の3行と最後の2列からなる部分を表示せよ。

(3) 最初と最後の列の要素を含まず、行　2, 4, 0 を（この順番で）表示せよ。

In [121]:
#1
df = pd.DataFrame(randn(5,6), range(5), columns = list('ABCDEF'))
df

          A         B         C         D         E         F
0 -1.450180 -1.256847 -0.017564 -0.062822 -1.355118 -0.833270
1 -0.162691  0.326824  1.117362  2.510868 -0.992476 -0.953110
2  0.476444 -0.178777 -1.978953 -0.454900  1.762110  0.576302
3  0.102869 -0.183062  2.352558 -1.172293 -0.880938 -0.827019
4  1.754028  1.101774  0.375576 -0.673534 -0.431892  0.320898

In [122]:
#2
df.iloc[:3,-2:]

          E         F
0 -1.355118 -0.833270
1 -0.992476 -0.953110
2  1.762110  0.576302

In [123]:
#3
df.iloc[[2,4,0],1:-1]

          B         C         D         E
2 -0.178777 -1.978953 -0.454900  1.762110
4  1.101774  0.375576 -0.673534 -0.431892
0 -1.256847 -0.017564 -0.062822 -1.355118

## **TASK  1-9**: (**)

(1) 2つ異なるデータフレームを作成して、重複しないところに-1を入れて、足算結果を表示せよ。

(2) 上記と同じ設定で、今回は掛算を行う（**mul**メソッドを使う）.

In [134]:
#0
df1 = DataFrame(np.arange(6.).reshape((2, 3)), columns=list('abc'))
df2 = DataFrame(np.arange(12.).reshape((3, 4)), columns=list('abcd'))
print(df1)
print(df2)

     a    b    c
0  0.0  1.0  2.0
1  3.0  4.0  5.0
     a    b     c     d
0  0.0  1.0   2.0   3.0
1  4.0  5.0   6.0   7.0
2  8.0  9.0  10.0  11.0

In [135]:
#1
df1.add(df2, fill_value = -1)

     a    b     c     d
0  0.0  2.0   4.0   2.0
1  7.0  9.0  11.0   6.0
2  7.0  8.0   9.0  10.0

In [136]:
#2
df1.mul(df2, fill_value = -1)

      a     b     c     d
0   0.0   1.0   4.0  -3.0
1  12.0  20.0  30.0  -7.0
2  -8.0  -9.0 -10.0 -11.0

## **TASK  1-10**:(**) 
(1) 次のコマンドを使って、データフレームを作成せよ。

df = pd.DataFrame(np.arange(30.).reshape((6, 5)), index = list('ABCDEF'), columns = list('abcde'))

(2) データフレーム df の2列目と3列目の和から成るシリーズ　s1 を作成して、dfとs1の（列ごとの）差分を表示せよ。

(3) データフレーム df の1行目と5行目の和から成るシリーズ　s2 を作成して、dfとs2の（行ごとの）差分を表示せよ。

In [149]:
#1
df = pd.DataFrame(np.arange(30.).reshape((6, 5)), 
                  index = list('ABCDEF'), 
                  columns = list('abcde'))
df

      a     b     c     d     e
A   0.0   1.0   2.0   3.0   4.0
B   5.0   6.0   7.0   8.0   9.0
C  10.0  11.0  12.0  13.0  14.0
D  15.0  16.0  17.0  18.0  19.0
E  20.0  21.0  22.0  23.0  24.0
F  25.0  26.0  27.0  28.0  29.0

In [150]:
#2
s1 = df['c'] + df['d'] #(2)
#s1 = df.iloc[:,2] + df.iloc[:,3] #using iloc

#df - s1 #間違ったやり方　wrong way to do it
df.sub(s1, axis = 0) #正しいやり方　correct way to do it

      a     b     c     d     e
A  -5.0  -4.0  -3.0  -2.0  -1.0
B -10.0  -9.0  -8.0  -7.0  -6.0
C -15.0 -14.0 -13.0 -12.0 -11.0
D -20.0 -19.0 -18.0 -17.0 -16.0
E -25.0 -24.0 -23.0 -22.0 -21.0
F -30.0 -29.0 -28.0 -27.0 -26.0

In [151]:
#3
s2 = df.iloc[1] + df.iloc[5]
df - s2
df.sub(s2, axis = 1) #別のやり方　another way

      a     b     c     d     e
A -30.0 -31.0 -32.0 -33.0 -34.0
B -25.0 -26.0 -27.0 -28.0 -29.0
C -20.0 -21.0 -22.0 -23.0 -24.0
D -15.0 -16.0 -17.0 -18.0 -19.0
E -10.0 -11.0 -12.0 -13.0 -14.0
F  -5.0  -6.0  -7.0  -8.0  -9.0

## **TASK  1-11**: 
(1) 次のコマンドを使って、データフレームを作成せよ。

df = pd.DataFrame(np.arange(20.).reshape((5,4)), index = list('ABCDE'), columns = list('wxyz')).

(2) フォーマット用関数を使って、dfの各要素を小数点以下3桁まで表示せよ。

(3) dfに各行の和を計算する関数を適用し、表示せよ（**apply** では NumPy の **sum** メソッドを使用）。

In [160]:
#1
df = pd.DataFrame(np.arange(20.).reshape((5,4)), index = list('ABCDE'), columns = list('wxyz'))
df

      w     x     y     z
A   0.0   1.0   2.0   3.0
B   4.0   5.0   6.0   7.0
C   8.0   9.0  10.0  11.0
D  12.0  13.0  14.0  15.0
E  16.0  17.0  18.0  19.0

In [161]:
#2
def format (x):
    return '%.3f' % x
#format = lambda x: '%.3f' % x

df.applymap(format)

        w       x       y       z
A   0.000   1.000   2.000   3.000
B   4.000   5.000   6.000   7.000
C   8.000   9.000  10.000  11.000
D  12.000  13.000  14.000  15.000
E  16.000  17.000  18.000  19.000

In [162]:
#3
df.apply(np.sum, axis=1)
#df.sum(axis=1) #apply を使わない場合

A     6.0
B    22.0
C    38.0
D    54.0
E    70.0
dtype: float64

## **TASK  1-12**: 

(1) 次のコマンドを使って、データフレームを作成せよ。

df = pd.DataFrame(randn(5,4), index = list('ABCDE'), columns = list('ZXWY'))

(2) データフレームの列インデックスを降順でソートせよ。

(3) データフレームの2列目の値によって、昇順でソートせよ。

(4) データフレームの行ごとのランクを求めよ。(**)

In [179]:
#1
df = pd.DataFrame(randn(5,4), index = list('ABCDE'), columns = list('ZXWY'))
df

          Z         X         W         Y
A  2.075331  0.289695 -1.270285  0.760287
B -0.407395  0.966429 -0.061540  0.345181
C -1.399508  1.608750 -1.679197  0.190736
D  1.791780  0.252237  0.934063  1.169903
E  0.236285  1.116688  0.431732 -0.945720

In [180]:
#2
df.sort_index(ascending = False, axis = 1)

          Z         Y         X         W
A  2.075331  0.760287  0.289695 -1.270285
B -0.407395  0.345181  0.966429 -0.061540
C -1.399508  0.190736  1.608750 -1.679197
D  1.791780  1.169903  0.252237  0.934063
E  0.236285 -0.945720  1.116688  0.431732

In [181]:
#3
df.sort_values(by = 'W')

          Z         X         W         Y
C -1.399508  1.608750 -1.679197  0.190736
A  2.075331  0.289695 -1.270285  0.760287
B -0.407395  0.966429 -0.061540  0.345181
E  0.236285  1.116688  0.431732 -0.945720
D  1.791780  0.252237  0.934063  1.169903

In [182]:
#4
df.rank(axis = 1)

     Z    X    W    Y
A  4.0  2.0  1.0  3.0
B  1.0  4.0  2.0  3.0
C  2.0  4.0  1.0  3.0
D  4.0  1.0  2.0  3.0
E  2.0  4.0  3.0  1.0

## **TASK  1-13** 

(1) 次のコマンドを使って、データフレームを作成せよ。

df = pd.DataFrame(randn(5,4), index = list('ABCDE'), columns = list('WXYZ'))

(2) データフレームdfの各行の平均値を求めよ。

(3) 行ごとの累積を求めよ。

(4) describe メソッドを使って、複数の要約統計量を計算せよ。結果から、列 'X' の中央値を求めよ。

In [197]:
#1
df = pd.DataFrame(randn(5,4), index = list('ABCDE'), columns = list('WXYZ'))
df

          W         X         Y         Z
A  0.600332 -0.930874 -2.336261 -0.022965
B  0.986662 -0.307863 -0.776492  0.568053
C  1.121344  0.124491 -0.099600 -0.298877
D  0.386591  0.576403  1.148617 -1.345467
E -0.805074 -0.541837  1.367157 -0.621750

In [198]:
#2
df.mean(axis=1)

A   -0.672442
B    0.117590
C    0.211840
D    0.191536
E   -0.150376
dtype: float64

In [199]:
#3
df.cumsum(axis=1)

          W         X         Y         Z
A  0.600332 -0.330542 -2.666803 -2.689768
B  0.986662  0.678799 -0.097693  0.470359
C  1.121344  1.245836  1.146236  0.847359
D  0.386591  0.962995  2.111612  0.766145
E -0.805074 -1.346911  0.020246 -0.601504

In [200]:
#4a
df.describe() # X列の50%の値　get value for 50% for column X

              W         X         Y         Z
count  5.000000  5.000000  5.000000  5.000000
mean   0.457971 -0.215936 -0.139316 -0.344201
std    0.764889  0.585126  1.513470  0.710109
min   -0.805074 -0.930874 -2.336261 -1.345467
25%    0.386591 -0.541837 -0.776492 -0.621750
50%    0.600332 -0.307863 -0.099600 -0.298877
75%    0.986662  0.124491  1.148617 -0.022965
max    1.121344  0.576403  1.367157  0.568053

In [201]:
#4b
df.describe().loc['50%','X']

-0.30786326176436263

## **TASK  1-14**: 

(1) データが空白で区切られたテキストファイルcars.txtをデータフレーム df に読み込む。

(2) 内容にあった列名と行名（インデックス）を割り当てよ。

(3) value_counts メソッドを使って、'cylinders'列に含まれる値の頻度を調べよ。

(4) 何シリンダーが一番多いのか一行のコードで書け。

    ヒント：value_counts と index メソッドを使う。

In [212]:
#1
df = pd.read_csv('data/cars.txt',sep='\s+') 
df.head(3)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
0,26.0,4,97.0,46.0,1950.0,21.0,73,2,volkswagen super beetle
1,11.0,8,400.0,150.0,4997.0,14.0,73,1,chevrolet impala
2,12.0,8,400.0,167.0,4906.0,12.5,73,1,ford country

In [213]:
#2
df.index = df['car_name']
df.drop('car_name', inplace=True, axis=1)
df.head(3)
#df = pd.read_csv('cars.txt',sep='\s+',index_col='car_name') #1行でもできる（読み込んだ時）

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
car_name,,,,,,,,
volkswagen super beetle,26.0,4,97.0,46.0,1950.0,21.0,73,2
chevrolet impala,11.0,8,400.0,150.0,4997.0,14.0,73,1
ford country,12.0,8,400.0,167.0,4906.0,12.5,73,1

In [214]:
#3
df['cylinders'].value_counts()

8    4
4    4
6    1
3    1
Name: cylinders, dtype: int64

In [215]:
#4
df['cylinders'].value_counts().index[0]

8

## **TASK 1-15**: 

データフレームを作成して、 CSV ファイルに保存せよ。しかし、行と列のラベルを書き込まず、区切り文字としては '#' を使用すること。

In [225]:
df=DataFrame(np.arange(20.).reshape(4,5),columns = list('ABCDE'))
df

      A     B     C     D     E
0   0.0   1.0   2.0   3.0   4.0
1   5.0   6.0   7.0   8.0   9.0
2  10.0  11.0  12.0  13.0  14.0
3  15.0  16.0  17.0  18.0  19.0

In [226]:
df.to_csv(sys.stdout, sep='#', index=False, header=False)
#df.to_csv(sys.stdout, sep='#', index=False, header=False, float_format = '%.2f')#データのフォーマットも指定できる

0.0#1.0#2.0#3.0#4.0
5.0#6.0#7.0#8.0#9.0
10.0#11.0#12.0#13.0#14.0
15.0#16.0#17.0#18.0#19.0